extends ../base.pug

block title
  | Pictures
  
block extrahead
  style.
    .picture {
      margin-bottom: 2rem;
    }
    .picture img {
      border: 1px solid lightgray;
    }
    .see-more {
      margin-bottom: 2rem;
    }

block content
  h1 Pictures
  
  -
   let images = [
      'https://25.media.tumblr.com/c7d88c7be9e63efc98f71c7b30ac6a21/tumblr_mi2qblTO1e1rvuj8do1_500.png',
      'https://25.media.tumblr.com/e3bfe933f5efbd8e2390c37a4930a83d/tumblr_mi2q8lb7Ki1rvuj8do1_500.png',
      'https://25.media.tumblr.com/88a6ef9b836bed9adf1e1347222f92cb/tumblr_mi2q62B2fe1rvuj8do1_500.png',
      'https://25.media.tumblr.com/9413438b63492238889a7a6ff4df74d4/tumblr_mi2or2g6vL1rvuj8do1_500.png',
      'https://24.media.tumblr.com/71313cc8d41737c0ec31d957fe9dfb61/tumblr_mi2on7vxWZ1rvuj8do1_500.png',
      'https://24.media.tumblr.com/a8d2661014e81bd60d4ca1f65e2fca76/tumblr_mgji53G6zk1rvuj8do1_500.png',
      'https://25.media.tumblr.com/tumblr_mauyywrs2P1rvuj8do1_500.png',
      'https://25.media.tumblr.com/tumblr_mauyxe9KvZ1rvuj8do1_500.png',
      'https://24.media.tumblr.com/tumblr_m9twbv2CqY1rvuj8do1_500.png',
      'https://25.media.tumblr.com/tumblr_m5cw4iD3fD1rvuj8do1_500.png',
      'https://25.media.tumblr.com/tumblr_m63cfytuGJ1rvuj8do1_500.png',
      'https://25.media.tumblr.com/tumblr_m63bndI46Y1rvuj8do1_500.png',
      'https://24.media.tumblr.com/tumblr_m5cw0wu2ZP1rvuj8do1_500.png',
      'https://78.media.tumblr.com/tumblr_m3k513pd791rvuj8do1_500.png',      
    ]
  
  div
    each img in images
      div.picture
        img.responsive-img(src=img)
  
  div.see-more
    a.waves-effect.waves-light.btn(href='http://megafeihong.tumblr.com/') See more on Tumblr →
