extends ../base.pug

block title
  | Feihong Hsu's Resume

block extrahead
  link(rel='stylesheet' href='/resume/styles.css')

block content
  h1 Feihong Hsu

  ul
    li Chicago, IL
    li
      a(href='https://github.com/feihong') GitHub
    li
      a(href='http://omegafeihong.tumblr.com/') Blog
    li
      a(href='http://feihonghsu.com') Web site
    li
      a(href='http://www.linkedin.com/in/feihonghsu') LinkedIn

  h2 Who

  p I am a freelance fullstack web developer with more than a decade of  experience and a strong foundation in Python and JavaScript. Besides web development, I also specialize in web scraping and geospatial programming. My hobbies include reading comics, learning Chinese, volunteering, and dragon boat racing.

  h2 Experience

  include:marked experience.md

  h2 Talks

  include:marked talks.md

  h2 Open Source Projects

  h3.oss
    a(href='https://github.com/ChickTech/mobile-app-tutorial') Mobile App Tutorial
  .row
    .col.s12.m6
      img.responsive-img(src='mobile-app-tutorial-small.png')
    .col.s12.m6
      :marked
        [App Inventor](http://appinventor.mit.edu/) tutorial made for the [ChickTech Mobile App Workshop](http://chicktech.github.io/mobile-app-tutorial/). Shows high school students how to create basic Android apps that make use of the camera, GPS, networking, QR code scanning. There is even a bonus chapter on setting up a basic web app on [PythonAnywhere](https://www.pythonanywhere.com/). [[View tutorial]](http://chicktech.github.io/mobile-app-tutorial/)

  h3.oss
    a(href='https://starter-react-babel.glitch.me/') Starter App for React, Babel, and Webpack on Glitch
  .row
    .col.s12.m6
      img.responsive-img(src='starter-react-babel.png')
    .col.s12.m6
      :marked
         A starter app for [Glitch](https://glitch.com) that uses React, Babel, and Webpack. Includes extra scripts to help with local development and examples of using components from the Material-UI library. [[View repo]](https://github.com/feihong/starter-react-babel)
         
  h3.oss
    a(href='https://github.com/chirpradio/command-center/') CHIRP Radio Command Center
  .row
    .col.s12.m6
      img.responsive-img(src='chirp-music.png')
    .col.s12.m6
      :marked
         Web interface for running command line programs for managing the music collection of a nonprofit radio station. [[View repo]](https://github.com/chirpradio/command-center)       
  

  h2 Education

  :marked
    - MS in [Computer Science from University of Illinois at Chicago](https://www.cs.uic.edu/)
    - BS in [Computer Science from University of Illinois at Urbana-Champaign](https://cs.illinois.edu/)

  script(src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(src='/resume/script.js')
