body {
  padding-bottom: 2rem;
}
h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0;
}
h3.oss {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
img {
  border: 1px dashed gray;
}
/* Make sure [View *] links do not wrap */
a[target], a[data-id] {
  white-space: nowrap;
}
