extends base.pug

block title
  | Feihong Hsu

block extrahead
  link(rel='stylesheet' href='styles.css')

block content
  h1 Feihong Hsu
  
  ul
    li
      a(href='https://github.com/feihong') GitHub
    li
      a(href='http://www.linkedin.com/in/feihonghsu') LinkedIn
    li
      a(href='http://omegafeihong.tumblr.com/') Blog
    li 
      a(href='/pictures') Pictures
    li
      a(href='/resume/') Resume
